MONGO_URI=mongodb://localhost:27017/ecommerce?readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false
SECRET=secret
HOST=
USERDB=root
PASSWORDDB=
DATABASE=ecommerce
FACEBOOK_ID=461329228600481
FACEBOOK_SECRET=306a0e48df9cee4caf1ccd30b52ebed3